{% extends 'base.html.twig' %}

{% block title %}Nueva cita{% endblock %}

{% block body %}
    <h1>Crear nueva Cita</h1>

    {{ include('citas/_form.html.twig') }}

    <a href="{{ path('citas_list') }}">back to list</a>
{% endblock %}
